/*.user-img{
  border-radius: 50%;
}*/

//saponetta
/* fonts:
font-family: 'Dosis', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Lobster'; */
.user-img{
 border-radius: 5%;
  max-width: 220px;
  max-height: 150px;
}
.title_boxes{
  font-family: 'Fjalla One', sans-serif;
}
.zyon{
  font-family: 'Lobster';
}
